body{
    margin: 0;
    background-color: black;
    color: white;
}

header{
  color: white;
  text-align: center;
  padding: 20px;
  font-size: large;

}
.parentcontainer{
  display: flex;
  flex-wrap: wrap;
}

.side-bar {
    height: 100%;
    width: 300px;
    background-color:black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #04AA6D;
  }
  
.side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.side-bar a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.movie-details{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding-right: 20px;
}

img{
  width: 100%;
} 


